.col-full {
    height: 146px !important;
    width: 100% !important;
    img {
        height: 100% !important;
        width: 100% !important;
    }
}

.row-text {
    padding-left: 4px !important;
}

.item-delete {
    display: block;
}

.item-deletee {
    display: block;
}

.item-deleteee {
    display: block;
}
ion-label {
    font-size: smaller;
}
#img {
    width: 2.07em;
    height: 2em;
    border-radius: 50%;
}
