<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="host-home">
      <ion-icon name="home"></ion-icon>
      <ion-label style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posted-house">
      <ion-icon name="reader"></ion-icon>
      <ion-label style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Tin đã đăng</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <ion-label style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Thông báo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
