<ion-header>
  <ion-toolbar class="toolbar-header" color="theme-color">
    <ion-input placeholder="Tìm nhà, căn hộ..." color="white-button" [(ngModel)]="searchValue">
    </ion-input>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home/search', searchValue]">
        <ion-icon name="search" slot="icon-only" color="white-button">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="notUser; else elseBlock">
      <ion-button [routerLink]="['./login']">
        <ion-icon name="person-circle-outline" slot="icon-only" color="white-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ng-template #elseBlock>
      <ion-buttons slot="end" (click)="presentPopover($event)">
        <ion-button>
          <img [src]="user.img" />
        </ion-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>