ion-back-button {
  float: left;
}

ion-title {
  float: left;
  padding-top: 3.5%;
  padding-left: 5%;
  color: white;
}

#item-top{
    margin-top: 5%;
}

ion-item{
    --background: transparent;
}
