<ion-header>
  <ion-toolbar color="theme-color">
    <ion-buttons slot="start" >
      <ion-button (click)="closeRefuse()">
        <ion-icon name="arrow-back" color="white-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white-button">Lý do bị từ chối</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="content">
    <div class="content-title">
      <ion-title><ion-text color="danger">Thông tin không hợp lệ</ion-text></ion-title>
    </div>
    <p>Nhằm tăng hiệu quả mua bán, chúng tôi sẽ kiểm duyệt các tin đăng.</p>
    <p><strong>Tiêu đề không hợp lệ</strong></p>
    <p><i>*Lưu ý: Tin này không sửa lại được</i></p>
  </div>
</ion-content>
