<ion-list *ngIf="isShow">
    <ion-item>
        <p>Xin chào {{user.fullName}}!</p>
    </ion-item>
    <ion-item button (click)="disable()">
        <img [src]="user.img" />
        Thông tin tài khoản
    </ion-item>
    <!-- <ion-item button (click)="update()">
        <ion-icon name="create-outline"></ion-icon>
        Cập nhật thông tin tài khoản
    </ion-item> -->
    <ion-item button (click)="change()">
        <ion-icon name="key-outline"></ion-icon>
        Đổi mật khẩu
    </ion-item>
    <ion-item button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        Đăng xuất
    </ion-item>
</ion-list>