<ion-header>
  <ion-toolbar color="theme-color">
    <ion-buttons slot="start">
      <ion-button (click)="closeNotification()">
        <ion-icon name="arrow-back" color="white-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white-button">Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item-divider>
  <ion-label>
      Thông báo mới
  </ion-label>
</ion-item-divider>
<ion-content>
  <ion-list>
      <ion-item [class.notyet]="isNotYet" [routerLink]="['/notification', 'phuhd']">
          <ion-row class="ion-align-items-center">
              <ion-col size="2" >
                  <img src="../assets/imgs/comment.png">
              </ion-col>
              <ion-col size="10">
                  <strong>Bạn có một tin nhắn mới</strong><br>
                  <ion-text>Hồ Duy Phú: Bạn cần thuê nhà ạ</ion-text><br>
                  <ion-text color="medium">Vừa xong</ion-text>
              </ion-col>
          </ion-row>
      </ion-item>
      <ion-item [routerLink]="['/notification', 'phuhd']">
          <ion-row class="ion-align-items-center">
              <ion-col size="2" >
                  <img src="../assets/imgs/comment.png">
              </ion-col>
              <ion-col size="10">
                  <strong>Bạn có một tin nhắn mới</strong><br>
                  <ion-text>Hồ Duy Phú: Chào bạn</ion-text><br>
                  <ion-text color="medium">5 giờ trước</ion-text>
              </ion-col>
          </ion-row>
      </ion-item>
  </ion-list>

</ion-content>
