<ion-header>
  <ion-toolbar color="theme-color">
    <ion-input placeholder="Tìm tài khoản" color="white-button" [(ngModel)]="searchValue">
    </ion-input>
    <ion-buttons slot="start">
      <ion-button (click)="search()">
        <ion-icon name="search" slot="icon-only" color="white-button">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentPopover($event)">
      <ion-button>
        <img id="profile" [src]="user.img" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>Bộ lọc</ion-label>
  </ion-item-divider>
  <ion-item class="content">
    <div id="box">
      <ion-label class="align" style="color: rgb(90, 86, 86)">Trạng thái</ion-label>
      <ion-select value="active" class="align2" [(ngModel)]="statusSelected" cancelText="Hủy" okText="Áp dụng"
        (ionChange)="onChangeStatus()">
        <ion-select-option value="active">Hoạt động</ion-select-option>
        <ion-select-option value="inactive">Đã khóa</ion-select-option>
      </ion-select>
    </div>
  </ion-item>
  <ion-item class="content">
    <div id="box">
      <ion-label class="align" style="color: rgb(90, 86, 86)">Vai trò</ion-label>
      <ion-select value="active" class="align2" [(ngModel)]="roleSelected" cancelText="Hủy" okText="Áp dụng"
        (ionChange)="onChangeRole()">
        <ion-select-option value="active">Tất cả</ion-select-option>
        <ion-select-option value="tenant">Khách</ion-select-option>
        <ion-select-option value="host">Chủ nhà</ion-select-option>
      </ion-select>
    </div>
  </ion-item>

  <br />
  <div *ngIf="statusSelected === 'active'; else elseBlock2">
  <div *ngIf="listBK.length > 0; else elseBlock">
    <ion-item-divider>
      <ion-label>Danh sách tài khoản</ion-label>
    </ion-item-divider>
    <ion-item id="header">
      <ion-row>
        <ion-toolbar>
          <ion-col size="4" slot="start">
            <span style="color: black">Tài khoản</span>
          </ion-col>
          <ion-col size="7">
            <span style="color: black;">Họ tên</span>
          </ion-col>
        </ion-toolbar>
      </ion-row>
    </ion-item>

    <ng-container *ngFor="let item of listBK; let i= index">
      <ion-item id="content">
        <ion-row>
          <ion-toolbar>
            <ion-col size="4" slot="start" [routerLink]="['/profile', item.username]">
              <span style="color: rgb(90, 86, 86)">{{item.username}}</span>
            </ion-col>
            <ion-col size="7" [routerLink]="['/profile', item.username]">
              <span style="color: rgb(90, 86, 86)">{{item.fullName}}</span>
            </ion-col>
            <ion-col size="3" slot="end">
              <ion-icon name="warning-outline" size="large" (click)="presentPromptWarning()">
              </ion-icon>
              <!-- <img id="icon" src="../../../assets/imgs/block.png" (click)="block(i)" /> -->
              <ion-icon id="icon" name="lock-closed-outline" size="large" (click)="block(i)"></ion-icon>
            </ion-col>
          </ion-toolbar>
        </ion-row>
      </ion-item>
    </ng-container>
  </div>
  <ng-template #elseBlock>
    <br />
    <h5 id="no-result">Không tìm thấy kết quả phù hợp!</h5>
  </ng-template>
</div>
<ng-template #elseBlock2>
  <div *ngIf="listBK.length > 0; else elseBlock">
    <ion-item-divider>
      <ion-label>Danh sách tài khoản</ion-label>
    </ion-item-divider>
    <br />
    <ion-item id="header">
      <ion-row>
        <ion-toolbar>
          <ion-col size="4" slot="start">
            <span style="color: black">Tài khoản</span>
          </ion-col>
          <ion-col size="7">
            <span style="color: black;">Họ tên</span>
          </ion-col>
        </ion-toolbar>
      </ion-row>
    </ion-item>

    <ng-container *ngFor="let item of listBK; let i= index">
      <ion-item id="content">
        <ion-row>
          <ion-toolbar>
            <ion-col size="4" slot="start" [routerLink]="['/profile', item.username]">
              <span style="color: rgb(90, 86, 86)">{{item.username}}</span>
            </ion-col>
            <ion-col size="7" [routerLink]="['/profile', item.username]">
              <span style="color: rgb(90, 86, 86)">{{item.fullName}}</span>
            </ion-col>
            <ion-col size="3" slot="end">
              <ion-icon name="lock-open-outline" size="large" (click)="unlock(i)">
              </ion-icon>
            </ion-col>
          </ion-toolbar>
        </ion-row>
      </ion-item>
    </ng-container>
  </div>
  <ng-template #elseBlock>
    <br />
    <h5 id="no-result">Không tìm thấy kết quả phù hợp!</h5>
  </ng-template>

</ng-template>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/admin']">
      <ion-icon name="newspaper"></ion-icon>
      <ion-text color="toolbar-background">Duyệt tin</ion-text>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/management']">
      <ion-icon name="construct" color="active-tab"></ion-icon>
      <ion-text>Tài khoản</ion-text>
    </ion-tab-button>
    <!-- <ion-tab-button [routerLink]="['/blocked']">
      <ion-icon name="eye-off"></ion-icon>
      <ion-text>Đã ẩn</ion-text>
    </ion-tab-button> -->
    <ion-tab-button [routerLink]="['/approved']">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-text>Đã duyệt</ion-text>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>