<ion-header>
  <ion-toolbar color="theme-color">
    <ion-back-button color="white-button"></ion-back-button>
    <ion-title>Đăng ký</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Tên đăng nhập*" [(ngModel)]="username"></ion-input>
      <ion-note>{{usernameErr}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Mật khẩu*" [(ngModel)]="password"></ion-input>
      <ion-note>{{passwordErr}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Họ tên*" [(ngModel)]="fullName"></ion-input>
      <ion-note>{{fullNameErr}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Địa chỉ*" [(ngModel)]="address"></ion-input>
      <ion-note>{{addressErr}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Số điện thoại*" [(ngModel)]="phone"></ion-input>
      <ion-note>{{phoneErr}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Số điện thoại dự phòng"></ion-input>
    </ion-item>
    <ion-item>
      <span>Vai trò</span>
      <ion-radio-group value="own">
        <ion-item lines="none" class="radio">
          <ion-text>Chủ nhà</ion-text>
          <ion-radio slot="start" value="own"></ion-radio>
        </ion-item>
        <ion-item lines="none" class="radio">
          <ion-text>Khách</ion-text>
          <ion-radio slot="start"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>
    <br/>
    <div class="btn-center-align">
      <ion-button color="theme-color" shape="round" (click)="checkRegister()">Đăng ký</ion-button>
    </div>
  </ion-list>
</ion-content>