ion-back-button {
  float: left;
}

ion-title {
  float: left;
  padding-top: 3.5%;
  padding-left: 5%;
  color: white;
}

ion-button {
  --color: white;
  width: 90%;
}

.btn-center-align {
  text-align: center;
}

ion-note{
  padding-top: 5%;
  color: red;
  font-size: 0.89em;
}

.radio{
  height: 36px;
}