.ion-color-theme-color {
  --ion-color-base: var(--ion-color-theme-color);
}
.ion-color-white-button {
  --ion-color-base: var(--ion-color-white-button);
}
.ion-background-header {
  --background: none;
}
.ion-color-star-ratio {
  --ion-color-base: var(--ion-color-star-ratio);
}
