ion-back-button {
    float: left;
  }
  
  ion-title {
    float: left;
    padding-top: 3.5%;
    padding-left: 5%;
    color: white;
  }
  
  ion-button {
    width: 90%;
    --color: white;
  }
  
  .btn-center-align {
    text-align: center;
  }
  
  ion-note{
      color: red;
      padding-top: 5%;
      font-size: 0.89em;
  }
  
#head{
  margin-top: 40%;
}

// ion-input{
//   text-align: center;
// }