#container-detail {
    position: relative;
}
.img-slide {
}
.img-list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    img {
        width: 60px;
        height: 60px;
    }
}
#content-info {
    position: absolute;
    padding-left: 16px;
    font-size: 18px;
    .title {
        font-size: 25px;
        font-weight: 400;
    }
    .icon-margin {
        margin-right: 5px;
    }
    .font-large {
        font-size: large;
    }
    i {
        text-decoration: underline;
    }

}
