<ion-header>
  <ion-toolbar color="theme-color">
    <ion-buttons slot="start" >
      <ion-button (click)="closeViewPostedSuccess()">
        <ion-icon name="arrow-back" color="white-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white-button">Thông tin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item-divider>
    <ion-title>Thông tin cơ bản</ion-title>
  </ion-item-divider>
  <div id="content-simple">
      <ion-list>
        <ion-item>
          <ion-col>
            <ion-label class="custom-label">Tỉnh, thành phố</ion-label>
            <ion-input readonly>Tp Hồ Chí Minh</ion-input>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <ion-label class="custom-label">Quận, huyện</ion-label>
            <p>Huyện Hóc Môn</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <ion-label class="custom-label">Phường, xã, thị trấn</ion-label>
            <p>Xã Xuân Thới Đông</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <ion-label class="custom-label">Tên đường</ion-label>
            <p>Nguyễn Thị Sóc</p>
          </ion-col>
        </ion-item>
        <ion-item>
          <ion-col>
            <ion-label class="custom-label">Số nhà</ion-label>
            <p>18/1</p>
          </ion-col>
        </ion-item>
      </ion-list>
  </div>
  <ion-item-divider>
    <ion-title>Thông tin chi tiết</ion-title>
  </ion-item-divider>
  <div id="content-detail">
    <ion-list>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Tiêu đề</ion-label>
          <p>Cho thuê căn hộ 2PN full nội thất CC HQC Hóc Môn</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Mô tả</ion-label>
          <p>Dự án chung cư HQC Hóc Môn, full nội thất, ƯU TIÊN GIẢM GIÁ KHI THANH TOÁN 6 THÁNG CỌC 2 THÁNG . LIÊN HỆ A. LÂM Ưu tiên cho vơ chồng trẻ , vì nhà mới , nội thất đều mới người thiện chí kí hợp đồng 1 năm.</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
            <ion-label class="custom-label">Giá</ion-label>
              <p>6.000.000 VNĐ</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Diện tích</ion-label>
            <p>62m2</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Loại hình</ion-label>
          <p>Chung cư</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Nội thất</ion-label>
          <p>Sofa, tivi, , giường, tủ quần áo, điều hòa, nóng lạnh, wifi, bàn làm việc , tủ bếp trên dưới, bếp hồng ngoại, máy hút mùi, thiết bị vệ sinh, thiết bị chiếu sáng</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Số phòng ngủ</ion-label>
          <p>2</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Số phòng vệ sinh</ion-label>
          <p>2</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Tầng số</ion-label>
          <p>8</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Phòng số</ion-label>
          <p>816</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Hướng cửa chính</ion-label>
          <p>Đông Nam</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
            <ion-label class="custom-label">Tiền đặt cọc</ion-label>
              <p>6.000.000 VNĐ</p>
        </ion-col>
      </ion-item>
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Giấy tờ pháp lý</ion-label>
          <p>Đã có sổ đỏ/sổ hồng</p>
        </ion-col>
      </ion-item>
      <!--<ion-item>
        <ion-col>
          <ion-label class="custom-label">Tình trạng bất động sản</ion-label>
          <ion-radio-group value="own">
            <ion-item lines="none" disabled>
              <ion-text>Đã bàn giao</ion-text>
              <ion-radio slot="start" ></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-text>Đang bàn giao</ion-text>
              <ion-radio slot="start" value="own"></ion-radio>
            </ion-item>
            <ion-item lines="none" disabled>
              <ion-text>Chưa bàn giao</ion-text>
              <ion-radio slot="start" ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-col>
      </ion-item>-->
      <ion-item>
        <ion-col>
          <ion-label class="custom-label">Hình ảnh</ion-label>
          <div class="img-post">
            <img src="../assets/imgs/h1-0.jpg">
            <img src="../assets/imgs/h1-1.jpg">
            <img src="../assets/imgs/h1-2.jpg">
          </div>
      </ion-col>
        
      </ion-item>
    </ion-list>
  </div>
</ion-content>
